page-landing {
  .cat-card {
    width: 100%;
    min-height: 180px;
    box-shadow: none;
    border-radius: 0px !important;
    border-bottom: 2px solid map-get($colors, white);
    background-color: map-get($colors, gray-dark);
    background-size: 100% auto;
    background-position: center;

    .cat-card-title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 50px;
      background-color: rgba(map-get($colors, gray-dark), 0.8);

      >div:nth-child(1) {
        max-width: calc(100% - 50px);
        order: 0;
        flex: 1 1 auto;
        align-self: center;

        >h5 {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      >div:nth-child(2) {
        width: 50px;
        text-align: right;
        order: 0;
        flex: 0 1 auto;
        align-self: center;

        .cat-card-like {
          >button {
            height: 18px;
          }

          .icon {
            color: map-get($colors, white);
          }
        }
      }
    }
  }
}
