# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
src/theme/variables.scss
src/app/app.component.ts
src/app/app.module.ts
src/assets/fonts/FuturaStd-Book.eot
src/assets/fonts/FuturaStd-Book.svg
src/assets/fonts/FuturaStd-Book.ttf
src/assets/fonts/FuturaStd-Book.woff
src/assets/fonts/FuturaStd-Book.woff2
src/assets/fonts/FuturaStd-Heavy.eot
src/assets/fonts/FuturaStd-Heavy.svg
src/assets/fonts/FuturaStd-Heavy.ttf
src/assets/fonts/FuturaStd-Heavy.woff
src/assets/fonts/FuturaStd-Heavy.woff2
src/components/components.module.ts
src/components/app-header/app-header.html
src/components/app-header/app-header.scss
src/components/app-header/app-header.ts
src/pages/login/login.html
src/pages/login/login.scss
src/pages/login/login.ts
src/pages/login/login.module.ts
src/pages/register/register.html
src/pages/register/register.scss
src/pages/register/register.ts
src/pages/register/register.module.ts
src/theme/_colors.scss
src/theme/_commen.scss
src/theme/_fonts.scss
src/pages/login/login.ts
.gitignore
src/pages/login/login.html
.gitignore
.gitignore
src/theme/variables.scss
