<ion-content class="start-swiper">

  <ion-slides pager class="padding-16">

    <!-- welcome slide -->
    <ion-slide>
      <img src="assets/imgs/start.svg" class="margin-b-16" />
      <h1 text-uppercase class="bold-txt txt-primary font-30 margin-t-0 margin-b-16">{{'start.title' | translate}}</h1>
      <p text-capitalize class="font-14 margin-b-32 margin-t-0 padding-h-16 txt-gray">{{'start.info' | translate}}</p>
      <button text-uppercase class="margin-0 margin-b-32 padding-h-16 font-16 bg-yellow txt-primary">{{'start.plan' | translate}}</button>
    </ion-slide>

    <!-- choose language -->
    <ion-slide>
      <img src="assets/imgs/language.svg" class="margin-b-16" />
      <h1 text-uppercase class="bold-txt txt-primary font-30 margin-t-0 margin-b-16">{{'start.language' | translate}}</h1>
      <p text-capitalize class="font-14 margin-b-32 margin-t-0 padding-h-16 txt-gray">{{'start.lang-info' | translate}}
      </p>
      <ion-item class="input-field margin-b-32">
        <ion-label class="font-12 txt-gray">{{'start.choose-country' | translate}}</ion-label>
        <ion-select [(ngModel)]="selectedCountry" class="font-16 txt-yellow">
          <ion-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-slide>

    <!-- choose curruncy -->
    <ion-slide>
      <img src="assets/imgs/Curruncy.svg" class="margin-b-16" />
      <h1 text-uppercase class="bold-txt txt-primary font-30 margin-t-0 margin-b-16">{{'start.currency' | translate}}</h1>
      <p text-capitalize class="font-14 margin-b-32 margin-t-0 padding-h-16 txt-gray">{{'start.curr-info' | translate}}
      </p>
      <ion-item class="input-field margin-b-32">
        <ion-label class="font-12 txt-gray">{{'start.choose-currency' | translate}}</ion-label>
        <ion-select [(ngModel)]="selectedCurrency" class="font-16 txt-yellow">
          <ion-option *ngFor="let item of currencies" [value]="item">{{item.name}} - {{item.symbol}}</ion-option>
        </ion-select>
      </ion-item>
      <button text-uppercase class="margin-0 margin-b-32 padding-h-16 font-16 bg-yellow txt-primary" [ngClass]="(selectedCurrency == '' || selectedCountry == '')?'disable':''" (click)="start()">{{'general.save' | translate}}</button>
    </ion-slide>
  </ion-slides>

</ion-content>