page-categories {
  .market-card {
    >ul {
      list-style: none;

      >li {
        >img {
            width: 100%;
            height: auto;
            border-radius: 5px; 
        }

        >h6,
        p {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;
        }
      }
    }
  }
}
