page-categories {
  .market-card {
    >ul {
      list-style: none;

      >li {
        >img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }

        >h6,
        p {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;
        }
      }
    }
  }

  .location-bar {
    position: fixed;

    .item-inner {
      border: none !important;
    }
  }
}

ionic-selectable-page {

  ion-navbar,
  ion-toolbar {
    padding: 0px !important;
  }

  ion-title {
    text-transform: capitalize;
  }

  .searchbar {
    background: transparent !important;

    ::placeholder {
      color: map-get($colors, white) !important;
    }

    .searchbar-input {
      background: map-get($colors, gray) !important;
      color: map-get($colors, white) !important;
    }
  }
}
