.arabic {

  // ar font ==============================
  ion-app.ios {
    font-family: Cairo !important;
  }

  // margin classes ==============================
  .margin-r-0 {
    margin-left: 0px !important;
  }

  .margin-r-2 {
    margin-left: 2px !important;
  }

  .margin-r-4 {
    margin-left: 4px !important;
  }

  .margin-r-8 {
    margin-left: 8px !important;
  }

  .margin-r-16 {
    margin-left: 16px !important;
  }

  .margin-r-32 {
    margin-left: 32px !important;
  }

  .margin-l-0 {
    margin-right: 0px !important;
  }

  .margin-l-2 {
    margin-right: 2px !important;
  }

  .margin-l-4 {
    margin-right: 4px !important;
  }

  .margin-l-8 {
    margin-right: 8px !important;
  }

  .margin-l-16 {
    margin-right: 16px !important;
  }

  .margin-l-32 {
    margin-right: 32px !important;
  }

  // padding classes ==============================
  .padding-r-0 {
    padding-left: 0px !important;
  }

  .padding-r-2 {
    padding-left: 2px !important;
  }

  .padding-r-4 {
    padding-left: 4px !important;
  }

  .padding-r-8 {
    padding-left: 8px !important;
  }

  .padding-r-16 {
    padding-left: 16px !important;
  }

  .padding-r-32 {
    padding-left: 32px !important;
  }

  .padding-l-0 {
    padding-right: 0px !important;
  }

  .padding-l-2 {
    padding-right: 2px !important;
  }

  .padding-l-4 {
    padding-right: 4px !important;
  }

  .padding-l-8 {
    padding-right: 8px !important;
  }

  .padding-l-16 {
    padding-right: 16px !important;
  }

  .padding-l-32 {
    padding-right: 32px !important;
  }

  // rateing stars ==============================
  .rate-bar {
    >.icon {
      transform: scaleX(-1);
    }
  }

  // ionic classes  ==============================
  .searchbar-input {
    text-align: right;
    padding: 0px 28px;
  }

  .searchbar-search-icon {
    right: inherit !important;
    left: 9px;
  }

  // landing page  ==============================
  page-landing {
    .cat-card-like {
      text-align: left !important;
    }
  }

  // product details page  ==============================
  page-product {
    span.unit-bar {
      >button:first-of-type {
        border-right-width: 1px !important;
        border-left-width: 0px !important;
        border-radius: 0px 4px 4px 0px !important;
      }

      >button:last-of-type {
        border-right-width: 0px !important;
        border-left-width: 1px !important;
        border-radius: 4px 0px 0px 4px !important;
      }

      >label {
        order: 0;
        flex: 1 1 auto;
        align-self: center;
        width: 40px;
        line-height: 28px !important;
        border: 1px solid map-get($colors, yellow);
        text-align: center;
      }
    }
  }
}
