// en font ==============================
@font-face {
  font-family: FuturaStd;
  src: url(../assets/fonts/FuturaStd-Book.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: FuturaStd;
  src: url(../assets/fonts/FuturaStd-Heavy.ttf) format("truetype");
  font-weight: bold;
}

// ar font ==============================
.arabic {
  @font-face {
    font-family: FuturaStd;
    src: url(../assets/fonts/Cairo-Regular.ttf) format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: FuturaStd;
    src: url(../assets/fonts/Cairo-Bold.ttf) format("truetype");
    font-weight: bold;
  }
}

$font-family-base: FuturaStd;





.main-slide-menu {
  .scroll-content {
    margin-top: 0px;
  }
}
