<ion-header no-border>
  <ion-navbar class="main-header">

    <!-- left hand side icons -->
    <ion-buttons start>
      <button ion-button icon-only (click)="toggleMenu()">
        <ion-icon name="menu" color="yellow"></ion-icon>
      </button>
    </ion-buttons>

    <!-- page title -->
    <ion-title text-capitalize *ngIf="headerTxt" class="main-title">
      {{headerTxt | translate}}
    </ion-title>

    <!-- right hand side icons -->
    <ion-buttons end>
      <button ion-button icon-only (click)="home()" *ngIf="showHome">
        <ion-icon name="home" color="yellow"></ion-icon>
      </button>
      <button ion-button icon-only (click)="cart()" *ngIf="showCart">
        <ion-icon name="cart" color="yellow"></ion-icon>
          <ion-badge item-end *ngIf="globals.shoppingCart.length > 0" class="badge">{{globals.shoppingCart.length}}</ion-badge>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>